[Desktop Entry]
Type=Application
Name=Local Store Management System
Comment=Gestionale locale per negozio
Exec=local_store_management
Icon=local-store-management
Terminal=false
Categories=Office;
StartupNotify=true
StartupWMClass=local_store_management
